[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
markupsafe = "==2.0.1"
jinja2 = "~=2.11"
flask-wtf = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
